# Environments
.venv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs / Editor
.vscode/
.idea/
*.swp
*.swo

# OS File system
.DS_Store
Thumbs.db
